* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
  }
:root{
    --negro:#252525;
    --blanco:#ffff;
    --azul:#A8B2D1;
    --naranja:#E17C42;
    --rojo:#E14242;
    --verde:#42E15A;
    --popins:"Poppins", sans-serif;
    --lato:font-family: "Lato", sans-serif;
}

body{
  
  display: flex;
  flex-direction: column;
  gap: 5vw;
  background-color: var(--azul);
  padding: 0.5vw;
}
.upload-container {
  width: 15vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border: 5px dashed #e17c4279;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: border-color 0.3s;
  color: var(--verde);
  margin-bottom: 5vw;
}

.upload-container:hover {
  border-color: var(--naranja);
}



.upload-container span {
  font-size: 1.5vw;
  font-family: var(--lato);
  color: var(--blanco);
  text-align: center;
}

input[type="file"] {
  display: none;
}
.circulo{
  width: 4vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 4px solid var(--naranja) !important;
  color: var(--verde);
  font-size: 4vw
  
}
.galeria {
  column-count: 4;
  column-gap: 1em;
  padding: 1em;
}
.galeria img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 12px;
  display: block;
  break-inside: avoid;
}


/*modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.hidden {
  display: none;
}
.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.modal-content img {
  width: 30vw;
  border-radius: 10px;
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 2vw;
  right: 2vw;
  background: var(--rojo);
  color: white;
  border: none;
  font-size: 1vw;
  font-family: var(--popins);
  border-radius: 100%;
  cursor: pointer;
}
#delete-btn {
  background: var(--rojo);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1vw;
  font-family: var(--lato);
}







/*mobile*/
@media screen and (min-width:300px) and (max-width:700px){
  body{
    gap: 5vw;
    background-color: var(--azul);
    padding: 0vw;
  }
  .upload-container {
    width: 50vw;
    gap: 5vw;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    transition: border-color 0.3s;
  }
  
  
  
  .upload-container span {
    font-size: 5vw;
  }
  
  input[type="file"] {
    display: none;
  }
  .circulo{
    width: 20vw;
    height: 20vw;
    font-size: 15vw
  
    
  }
  .galeria {
    column-count: 2;
    column-gap: 1em;
    padding: 0.5em;
  }
  .galeria img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 12px;
  }

  /*modal*/
.modal-content {

  gap: 1em;
}
.modal-content img {
  width: 90vw;
  border-radius: 10px;
}
.close-btn {
  width: 10vw;
  height: 10vw;
  top: 3vw;
  right: 3vw;
  font-size: 5vw;

}
#delete-btn {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 5vw;
}

  
}


/*Tablet*/
@media screen and (min-width:701px) and (max-width:1500px) {
  body{
    gap: 5vw;
    background-color: var(--azul);
    padding: 0vw;
  }
  .upload-container {
    width: 30vw;
    gap: 3vw;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    transition: border-color 0.3s;
  }
  
  
  
  .upload-container span {
    font-size: 3vw;
  }
  
  input[type="file"] {
    display: none;
  }
  .circulo{
    width: 10vw;
    height: 10vw;
    font-size: 10vw
  
    
  }
  .galeria {
    column-count: 3;
    column-gap: 1em;
    padding: 0.5em;
  }
  .galeria img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 12px;
  }

  /*modal*/
.modal-content {
  gap: 1em;
}
.modal-content img {
  width: 50vw;
  border-radius: 10px;
}
.close-btn {
  width: 5vw;
  height: 5vw;
  top: 3vw;
  right: 3vw;
  font-size: 3vw;

}
#delete-btn {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 2vw;
}
}